/Summe/nbproject/private/
/Summe/build/
/Summe/Summe/target/
/Summe/Summe/nbproject/private/
/Summe/Summe/build/
/Summe/WebApplication1/nbproject/private/
/Summe/WebApplication1/build/
/Summe/dist/
/TemperatureCalculator/nbproject/private/
/TemperatureCalculator/build/
/CountScopes/nbproject/private/
/CountScopes/build/
/OraculoMVC/nbproject/private/
/OraculoMVC/build/
/MyTranslate/nbproject/private/
/MyTranslate/build/
/MyTranslate/dist/
